<h1>STUDENTS INDEX PAGE</h1>

<section class="students">
  <% @students.sort.each do |student| %>
    <section id="student-<%= student.id %>">
      <%= student.name %>'s Number of Professors: <%= student.count %></br></br>

      <%= student.name %>'s courses:</br>
        <% student.professors.each do |professor| %>
          <%= professor.specialty %></br>
        <% end %></br>
    </section>
  <% end %></br></br>
</section>  